.button-container {
display: flex;
gap: 10px;
}
.navbar {
    position: fixed;
    top: 0%;
    z-index: 1000;
    display: flex;
    width: 100%;
}
body {
    background-image: url(https://img.freepik.com/free-photo/street-landmark-center-urban-modern_1127-2819.jpg?semt=ais_rp_progressive&w=740&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box {
    background: rgb(241, 237, 237, 0.9);
    padding: 20px;
    border-radius: 30px;
}
h1 {
    color: #000000;
}
.footer-custom h5 {
    color: #ffffff;
}
.display_image {
    width: 250px;
    height: 250px;
    background-size: cover;
}